
<footer>
<div class="cont" style="background: rgba(255, 255, 255, 0.2);border-radius:50px;">
    <br>
    <!--            segundo container-->
    <div  style="background: rgba(255, 255, 255, 0.3);border-radius:50px;">


    </div>
</div>
<div class="footer"  >
    <div style="width:100%;background-color:#204c8a;color:white;"><p class="body">
        <div style="background: rgba(21, 14, 5, 0.3)"><h6 class="mb-0"><br><br></h6></div>
        <br>
        <table style="width:100%; ">
            <tr>

                <td style="text-align: center; color:#D8D8D8;">
                    ©Control Acceso. Copyright 2021. TODOS LOS DERECHOS RESERVADOS.  √ Usamos Cookies
                </td>

            </tr>
            <tr>
                <td style="text-align: center;">
                    <a style="color:#D8D8D8; font-size:16px; text-align: right;" > Teléfono: 920 14 58 74</a>
                </td>


            </tr>
            <tr style="text-align: center;">
                <td>
                    <a style="color:#D8D8D8; font-size:14px;" href="mailto:al361877@uji.es">control-acceso@gva.es</a><br>
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
        <table align="center" border="0">
            <td><a href="https://www.facebook.com/" target="_blank" style="color:white;text-decoration: none"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" width="20" height="20"> Facebook</a></td>
            <td><a href="https://twitter.com/" target="_blank" style="color:white;text-decoration: none"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/934px-Twitter-logo.svg.png" width="20" height="20"> Twitter</a></td>
            <td><a href="https://www.instagram.com/" target="_blank" style="color:white;text-decoration: none"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" width="20" height="20"> Instagram</a></td>
            <td><a href="https://www.youtube.es/" target="_blank" style="color:white;text-decoration: none"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/2560px-YouTube_full-color_icon_%282017%29.svg.png" width="20" height="20"> Youtube</a></td>
        </table>
        <br>
    </div>
</div>
</footer>